@import url(./globals.css);
* {
    margin: 0;
    padding: 0;
    font-family: var(--textFont);
}

.calendar_container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendar_container header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0px 10px;
    justify-content: center;

}

.calendar_navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.calendar_navigation i{
    color: var(--Unactive-Color);
}
.line{
    width: 100%;
    height: 3px;
    margin: 10px; 
    border-radius: 3%;
    background-color: var(--Primary-Color);
}


header .calendar_navigation i{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    user-select: none;
}

.calendar_navigation span:last-child {
    margin-right: -10px;
}

header .calendar_navigation i:hover {
    background: #f2f2f2;
    color: var(--Primary-Color);
}

header .calendar_current_date {
    font-weight: 500;
    font-size: large;
    font-family: var(--headerFont);
    color: var(--Primary-Color);
    margin: 0px ;
}

.calendar_body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    padding: 0.313rem;
}

.calendar_weekdays{
    padding: 0px 10px;
}

.calendar_body .calendar_dates {
    margin-bottom: 10px;
}

.calendar_body li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: #414141;
}

.calendar_body .calendar_weekdays li {
    cursor: default;
    font-weight: 500;
    font-family: var(--headerFont);
    padding: 0px;
}

.calendar_body .calendar_dates li {
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding: 5px;
}

.calendar_dates li.inactive {
    color: #aaa;
}

.calendar_dates li.active {
    color: #fff;
}

.calendar_dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calendar_dates li.active::before {
    background: var(--Primary-Color);
}

.calendar_dates li:not(.active):hover::before {
    background: #e4e1e1;
}